@{
    ViewData["Title"] = "Home Page";
}

<div >
    <h1 class="display-4">Welcome </h1>
    <p style="direction:ltr;text-align:left;">
        <h4>AWS S3 public file upload sample</h4>
        This sample require aws secretKey and accessKey.
        <br />
        you must get these requirements from your <a href="https://aws.amazon.com/" target="_blank"> aws amazon console</a> .
        <br />

        Learn about <a href="https://docs.aws.amazon.com/s3/?id=docs_gateway">Amazon S3</a>.
    </p>
</div>

<a asp-action="UploadFile" class="btn btn-success"> Test Upload File To AWS S3</a>