@ViewBag.Result

<hr />
I test and upload a file
<br />
you can see my file with this link :
<br />
<a href="http://my-uswest.s3.amazonaws.com/MyTest_Folder/test1/Navid_Faridi_Resume_02.pdf" target="_blank">http://my-uswest.s3.amazonaws.com/MyTest_Folder/test1/Navid_Faridi_Resume_02.pdf</a>